/** 
 * Author: Shadow Themes
 * Author URL: http://shadow-themes.com
 */

/* Shadow Fullscreen Slide Section */
body.elementor-editor-active section.elementor-section.shadowcore-section-fslide-yes.shadowcore-section-slide-preview-yes,
body:not(.elementor-editor-active) section.elementor-section.shadowcore-section-fslide-yes {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 999;
}

body.elementor-editor-active section.elementor-section.shadowcore-section-fslide-yes.shadowcore-section-slide-preview-yes .elementor-editor-section-settings {
    transform: translateX(-50%) translateY(0%);
    border-radius: 0 0 5px 5px;
}
body.elementor-editor-active section.elementor-section.shadowcore-section-fslide-yes.shadowcore-section-slide-preview-yes .elementor-editor-section-settings .elementor-editor-element-setting:first-child {
    border-radius: 0 0 0 5px;
}
body.elementor-editor-active section.elementor-section.shadowcore-section-fslide-yes.shadowcore-section-slide-preview-yes .elementor-editor-section-settings .elementor-editor-element-setting:last-child {
    border-radius: 0 0 5px 0;
}
body.elementor-editor-active section.elementor-section.shadowcore-section-fslide-yes.shadowcore-section-slide-preview-yes .elementor-editor-section-settings .elementor-editor-element-setting:first-child:before {
    top: 0;
    border-width: 0 12px 22px 0;
}
body.elementor-editor-active section.elementor-section.shadowcore-section-fslide-yes.shadowcore-section-slide-preview-yes .elementor-editor-section-settings .elementor-editor-element-setting:last-child:after {
    top: 0;
    border-width: 0 0 22px 12px;
}

body.elementor-editor-active section.elementor-section.shadowcore-section-fslide-yes.shadowcore-section-slide-preview-yes.shadowcore-section-hides-top,
body:not(.elementor-editor-active) section.shadowcore-section-fslide-yes.shadowcore-section-hides-top {
    top: -100%!important;
    left: 0!important;
}
body.elementor-editor-active section.elementor-section.shadowcore-section-fslide-yes.shadowcore-section-slide-preview-yes.shadowcore-section-hides-right,
body:not(.elementor-editor-active) section.shadowcore-section-fslide-yes.shadowcore-section-hides-right {
    right: -100%!important;
    top: 0!important;
}
body.elementor-editor-active section.elementor-section.shadowcore-section-fslide-yes.shadowcore-section-slide-preview-yes.shadowcore-section-hides-bottom,
body:not(.elementor-editor-active) section.shadowcore-section-fslide-yes.shadowcore-section-hides-bottom {
    left: 0!important;
    bottom: -100%!important;
}
body.elementor-editor-active section.elementor-section.shadowcore-section-fslide-yes.shadowcore-section-slide-preview-yes.shadowcore-section-hides-left,
body:not(.elementor-editor-active) section.shadowcore-section-fslide-yes.shadowcore-section-hides-left {
    left: -100%!important;
    top: 0!important;
}

body.elementor-editor-active section.elementor-section.shadowcore-section-fslide-yes.shadowcore-section-slide-preview-yes.shadowcore-section-hides-top.shadowcore-show-section,
body:not(.elementor-editor-active) section.shadowcore-section-fslide-yes.shadowcore-section-hides-top.shadowcore-show-section {
    top: 0!important;
    left: 0!important;
}
body.elementor-editor-active section.elementor-section.shadowcore-section-fslide-yes.shadowcore-section-slide-preview-yes.shadowcore-section-hides-right.shadowcore-show-section,
body:not(.elementor-editor-active) section.shadowcore-section-fslide-yes.shadowcore-section-hides-right.shadowcore-show-section {
    right: 0!important;
    top: 0!important;
}
body.elementor-editor-active section.elementor-section.shadowcore-section-fslide-yes.shadowcore-section-slide-preview-yes.shadowcore-section-hides-bottom.shadowcore-show-section,
body:not(.elementor-editor-active) section.shadowcore-section-fslide-yes.shadowcore-section-hides-bottom.shadowcore-show-section {
    left: 0!important;
    bottom: 0!important;
}
body.elementor-editor-active section.elementor-section.shadowcore-section-fslide-yes.shadowcore-section-slide-preview-yes.shadowcore-section-hides-left.shadowcore-show-section,
body:not(.elementor-editor-active) section.shadowcore-section-fslide-yes.shadowcore-section-hides-left.shadowcore-show-section {
    left: 0!important;
    top: 0!important;
}